.abacus-container {
  text-align: center;
  padding: 20px;
}

.target-number,
.current-count {
  font-size: 24px;
  
}


.abacus {
  border: 2px solid #a52a2a;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start; /* Ensure beads are aligned to the left */
  align-items: center;
  height: 50px; /* Reduce height for better display */
  width: 60%; /* Occupy full width */
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden; /* Ensure beads don't overflow */
}

.bead {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px; /* Space between beads */
  cursor: grab;
  position: absolute; /* Position absolute for free movement */
  transition: transform 0.1s ease-out; /* Smooth transition */
}

/* bead number with white text color and white shadow */
.bead-number {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}


/*bead goal is a div inside the abacus container*/
