* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    background-color: #82c8a6;;
}

@font-face {
    font-family: "Monserrat"; 
    src:    url("../src/assets/fonts/Montserrat-Regular.otf") format("opentype"),
            url("../src/assets/fonts/Montserrat-Light.otf") format("opentype")
            url("../src/assets/fonts/Montserrat-Medium.otf") format("opentype")
            url("../src/assets/fonts/Montserrat-SemiBold.otf") format("opentype")
            url("../src/assets/fonts/Montserrat-Bold.otf") format("opentype")
}

.Monserrat {
    font-family: 'Monserrat', sans-serif;
}
